[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
pycodestyle = "*"
pytest-cov = "*"
responses = "*"
coveralls = "*"
python-semantic-release = "*"
commitizen = "*"

[packages]
requests = "*"
flask = "*"
"beautifulsoup4" = "*"
feedparser = "*"

[requires]
python_version = "3.6"
