[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
responses = "*"
coveralls = "*"
commitizen = "*"
flake8 = "*"

[packages]
requests = "*"
flask = "*"
"beautifulsoup4" = "*"
feedparser = "*"
htmlmin = "*"
more-itertools = "*"

[requires]
python_version = "3.6"
