.text-large {
    font-size: 150%;
}

.text-bigger {
    font-size: 125%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #f5f5f5;
}

#suggestions a {
    z-index: 1
}

#suggestions a img {
    max-width: 50px;
}

.form-control:focus {
    outline: 0;
    border-color: initial;
    box-shadow: none;
}
