<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.0.0.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/search.js') }}" defer></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container justify-content-start">
        <a class="navbar-brand" href="/">SEAshows</a>
        <div id="search">
          <search></search>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3b91ff;">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categories" aria-controls="categories" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="categories">
          <ul class="navbar-nav">
            {% for domain, categories in domains.items() %}
              {% for label, subcategories in categories.items() %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle py-1" 
                     data-toggle="dropdown" href="#" role="button" 
                    aria-haspopup="true" aria-expanded="false">
                    {{ label }}
                  </a>
                  <div class="dropdown-menu">
                    {% for short_text,format_text in subcategories.items() %}
                    <a class="dropdown-item" 
                       href="{{ url_for('core.'+domain, category=short_text, page=1) }}">
                      {{ format_text }}
                    </a>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
            {% endfor %}    
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main-content">
      <section>
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
      </section>
    </div>
    
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Disclaimer: this site does not store any files on its server. All contents provided by non-affiliated third parties.</span>
      </div>
    </footer>

  </body>
</html>
