{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ page_title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul class="list-group list-group-flush">
        {% for episode in episodes %}
            <li class="list-group-item">
                <a href="{{ url_for('listing.sources', episode_id=episode.id) }}"
                    class="text-large"
                    style="color:black;">
                    {{ episode.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    {% if paginations is defined %}
        <nav aria-label="Episodes display pages">
            <ul class="pagination justify-content-center">
                {% for link in paginations %}
                    <li class="page-item">
                        <a class="page-link text-bigger"
                            href="{{ url_for('listing.episodes', show_id=current_show, page=link.id) }}">
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}