{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ page_title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul class="list-group list-group-flush">
        {% for episode in episodes %}
            <li class="list-group-item">
                <a href="{{ url_for('listing.sources', episode_id=episode.id) }}"
                    class="text-large"
                    style="color:black;">
                    {{ episode.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}