{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ categories_text[category] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for show in shows %}
        {% if loop.first %}
            <div class="row">
        {% elif loop.index0 % 4 == 0 %}
            </div>
            <br/>
            <div class="row">
        {% endif %}
        <div class="col-3">
            {% if category == 'movies' %}
                <a href="{{ url_for('listing.sources',
                                    episode_id=show.url.ep[0]) }}"
                    style="color:black;">
                    <div class="container">
                        <img src="{{show.picture}}" class="w-100">
                        <div class="row font-weight-bold text-bigger">
                            {{ show.title }}
                        </div>
                    </div>
                </a>
            {% else %}
                {% if not contains_date(show.title) %}
                    <a href="{{ url_for('listing.episodes',
                                        show_id=show.url.film[0],
                                        page_num=1) }}"
                        style="color:black;">
                        <div class="container">
                            <img src="{{show.picture}}" class="w-100">
                            <div class="row font-weight-bold text-bigger">
                                {{ show.title }}
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ url_for('listing.episodes_dated_shows',
                                        show_id=show.url.film[0]) }}"
                        style="color:black;">
                        <div class="container">
                            <img src="{{show.picture}}" class="w-100">
                            <div class="row font-weight-bold text-bigger">
                                {{ show.title }}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    {% if next_page %}
        <a href="{{ url_for('listing.shows', category=category, page_num=next_page.url.page[0]) }}">{{ next_page.title }}</a>
    {% endif %}
{% endblock %}